*{
    margin:0;
    outline: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background-color: rgba(0,0,0,0.05);
}


body,
input,
button,
textarea{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main{
    height: 100%;
}
main section{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}